[Unit]
Description=Django Backend
After=network-online.target

[Service]
Environment=PATH={{backend_deployment_path}}/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
WorkingDirectory={{backend_deployment_path}}
Type=simple
User={{deploy_user}}
ExecStart=/bin/bash {{backend_startup_script_path}}
Restart=on-failure
SuccessExitStatus=0 143

[Install]
WantedBy=multi-user.target
