upstream backend_group {
    server 127.0.0.1:{{backend_port}};
}

server {
    listen {{listen_ipv4_address | ternary(listen_ipv4_address + ":", "")}}{{nginx_http_listen_port}};
    listen [{{listen_ipv6_address}}]:{{nginx_http_listen_port}};
    server_name {{app_domain}} www.{{app_domain}};
    charset     utf-8;

    root {{backend_static_path}};

    location / {
        root {{frontend_static_path}};
        try_files $uri $uri/ /index.html;
    }

    location ~ ^/assets/(.*) {
        root {{backend_static_path}};
        try_files /$1 /$1/ @backend_proxy;
    }

    location ~ ^/(api|admin|swagger|redoc|schema|silk) {
        include /etc/nginx/proxy_backend.conf;
    }

    location @backend_proxy {
        include /etc/nginx/proxy_backend.conf;
    }
}
